<div id="order-delivery-entire-shell-<%= @order_day.id %>" class="order-delivery-entire-shell" data-active="order" data-order-day="na" data-order-num="na" data-deliver-num="na">
	<div class="order-delivery-toggle-buttons">
		<p class="order-toggle-btn left-side toggle-active" data-type="order">Order Day</p>
		<p class="delivery-toggle-btn right-side" data-type="deliver">Delivery Day</p>
	</div>
	<div class="supplier-dates-shell supplier-dates-top-container supplier-dates-row">
			<p class="indi-day" data-day="sunday">S</p>
			<p class="indi-day" data-day="monday">M</p>
			<p class="indi-day" data-day="tuesday">T</p>
			<p class="indi-day" data-day="wednesday">W</p>
			<p class="indi-day" data-day="thursday">T</p>
			<p class="indi-day" data-day="friday">F</p>
			<p class="indi-day" data-day="saturday">S</p>
			<p class="indi-day" data-day="sunday">S</p>
			<p class="indi-day" data-day="monday">M</p>
			<p class="indi-day" data-day="tuesday">T</p>
			<p class="indi-day" data-day="wednesday">W</p>
			<p class="indi-day" data-day="thursday">T</p>
			<p class="indi-day" data-day="friday">F</p>
			<p class="indi-day" data-day="saturday">S</p>
	</div>
</div>