<h1>Delivery: <%= @supplier.name %></h1>
<div class="list-view-1">
	<% @orders.each do |order| %>
		<div class="indi-list-item">
			<p><%= order.product.name %>
				<span>
					<%= order.quantity %>
				</span>
			</p>
		</div>
	<% end %>
</div>