<div class="date-display-section">
	<p>Inventory: <%= Time.now.strftime('%B %d, %Y') %></p>
</div>
<div class="indi-page-header">
	<p class="supplier-dropdown-title">Harris Meat</p>
	<div class="supplier-dropdown-button icon"></div>
	<div class="inventory-drop-down-sub-header-container">
		<% @all_suppliers.each do |supplier| %>
			<%= link_to supplier_inventory_index_path(supplier) do %>
				<p class="supplier-dropdown-selection"><%= supplier.supplier_name %></p>
			<% end %>
		<% end %>
	</div>
</div>