body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
header{
	margin: 0px;
	padding: 5px 0;
	text-align: center;
	background-color: #cccccc;
	font-weight: normal;
	font-size: 12px;
	color: #000;
	position: relative;
}
p, h1{
	padding: 0px;
	margin: 0px;
}
.page{

}
#hidden-full-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	display: none;
}
#options-panel{
	position: absolute;
	width: 75%;
	height: 100%;
	left: -100%;
	top: 0px;
	background-color: #666666;
	z-index: 999;
}
.date-display-section{
	width: 100%;
	text-align: center;
	background-color: #252525;
	color: #fff;
	font-size: 18px;
	padding: 3px 0;
	position: relative;
}
.btn{
	cursor: pointer;
} 
.icon-btn{
	margin: 2px;
} 
.float-r{
	float: right;
}
.supplier-add-btn{
	right: 0px;
	top: 0px;
	padding: 0px 5px;
	font-size: 20px;
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	position: absolute;
	margin:3px;
}
.icon{
	background-image: url('icon_SPRITE.png');
}
.options-btn{
	left: 7px;
	top: 7px;
	width: 25px;
	height: 25px;
}
.pos-ab{
	position: absolute;
}
.icon-gear{
	background-position: 0px 0px;
}
.icon-right-arrow{
	background-position: 0px -25px;
	width: 13px;
	height: 16px;
}
.icon-circle-checked{
	width: 31px;
	height: 31px;
	background-position: -50px -50px;
}
.supplier-index-arrow{
	position: absolute;
	top: 9px;
	right: 10px;
}
.btn-long{
	width: 100%;
	margin: 0px;
	height: 30px;
	line-height: 30px;
} 
.btn-theme-1{
	background-color: #252525;
	color: #fff;
	border:none;
	outline: none;
	border-radius: 10px;
}
.options-panel-container{
	width: 90%;
	margin: 10px auto;
}
.indi-page-header{
	background-color: #cccccc;
	padding: 10px 2%;
	position: relative;
	z-index: 20;
}
.supplier-dropdown-button{
	width: 16px;
	height: 13px;
	background-position: -50px 0;
	position: absolute;
	top: 13px;
	right: 13px;
	cursor: pointer;
}
.supplier-dropdown-button-active{
	background-position: -50px -25px;
}
.inventory-drop-down-sub-header-container{
	background-color: #cccccc;
	padding: 0px;
	max-height: 300px;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;
}
.indi-section-header{
	width: 100%;
	background-color: #000;
}
.indi-section-header p{
	color: #fff;
	padding: 6px 6px 6px 10px;
	margin: 0px;
}
.list-view-1{
	width: 100%;
}
.indi-list-item{
	width: 96%;
	background-color: #aaaaaa;
	padding: 9px 2%;
	position: relative;
	font-size: 22px;
	font-weight: bold;
}
.list-view-1 a{
	color: #000;
	text-decoration: none;
}
.list-view-1 a:link{
	color: #000;
	text-decoration: none;
}
.list-view-1 a:visited{
	color: #000;
	text-decoration: none;
}
.list-view-1 p{
	color: #000;
	font-size: 16px;
}
.list-view-1 span{
	right: 10px;
	top: 5px;
	position: absolute;
}
.list-view-check-mark-rights{
	right: 10px;
	top: 10px;
	position: absolute;
}
.day_selector_header{
	clear: both;
	margin: 10px 0 0 3%;
	font-size: 16px;
	font-weight: bold;
}
ul.day_selector{
	list-style: none;
	width: 92%;
	margin: 4px 3% 10px 3%;
	background-color: #cccccc;
	overflow: auto;
	padding-left: 0px;
}
ul.day_selector li{
	float: left;
	padding: 8px 4%;
	background-color: #cccccc;
	cursor: pointer;
}
ul.day_selector li.day_active{
	background-color: #000;
	color: #fff;
}
.edit-supplier-save-btn{
	width: 92%;
	text-align: center;
	margin: 20px 3% 0 3%;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0;
	background-color: #252525;
	border-radius: 10px;
}
.supplier-products-nav-container{
	width: 100%;
	background-color: #cccccc;
	color: #000;
	padding: 10px 0;
}
.supplier-dropdown-title{
	text-align: center;
}
.supplier-dropdown-selection{
	width: 100%;
	text-align: center;
	margin: 10px auto;
}
.supplier-products-nav{
	width: 95%;
	margin: 0px auto;
	overflow: auto;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
}
.supplier-products-nav a{
	text-decoration: none;
}
.supplier-products-nav a:visited{
	text-decoration: none;
	color: #000;
}
.supplier-products-nav .left{
	width: 50%;
	float: left;
	padding: 4px 0;
}
.supplier-products-nav .right{
	width: 50%;
	float: right;
	padding: 4px 0;
}
.supplier-products-nav .supplier-nav-active{
	background-color: #000;
	color: #fff;
	font-size: 16px;
}
.options-panel-btns{
	margin: 10px auto;
}
.supplier-add-product-shell{
	background-color: #cccccc;
	overflow: auto;
}
.add-new-product-text-input{
	width: 78%;
	font-size: 16px;
	color: #000;
	padding: 4px 2%;
	margin-left: 3%;
	margin-bottom: 10px;
	float: left;
}
.add-new-product-submit-btn{
	width: 10%;
	height: 30px;
	margin: 2px 0 0 2%;
	padding: 0px;
	float: left;
	background-color: #fff;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 22px;
	cursor: pointer;
}
.edit-supplier-name-text-input{
	width: 89%;
	font-size: 16px;
	color: #000;
	padding: 4px 2%;
	margin: 0 3% 10px 3%;
	text-align: center;
}
.products-list-view-p{
	margin: 6px 0 6px 0;
}
.supplier-dates-shell{
	width: 90%;
	height: auto;
	margin: 20px auto;
}
.supplier-dates-row{
	overflow: auto;
}
.supplier-dates-row p{
	padding: 10px 0;
	width: 14.2%;
	margin: 0px;
	text-align: center;
	background-color: #cccccc;
	float: left;
	cursor:pointer;
}
.supplier-dates-bottom-container{
	display: none;
}
.supplier-dates-row p.order-day-selector-active{
	background-color: #333;
	color: yellow;
}
.supplier-dates-row p.delivery-day-selector-active{
	background-color: #333;
	color: yellow;
}
.day-selector-not-active{
	background-color: #666666 !important;
	color: #cccccc;
}
.order-delivery-toggle-buttons{
	text-align: center;
	overflow: auto;
	clear: both;
	width: 90%;
	margin:10px auto;
}
.order-delivery-toggle-buttons p{
	width: 50%;
	float: left;
	padding: 10px 0;
	background-color: #ccc;
	cursor: pointer;
}
.order-delivery-toggle-buttons p.toggle-active{
	background-color: yellow !important;
}
.post-delivered-not-active{
	background-color: #666666 !important;
	color: #cccccc;
}
.being-delivered-active{
	background-color: #333 !important;
}